<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="XPDev" value="https://andrenls.pkgs.visualstudio.com/780c7d43-e058-41e6-863e-cede2bf0eebb/_packaging/XPDev/nuget/v3/index.json" />
  </packageSources>
</configuration>